/* styles of welcom component */

.radius {
  border-radius: 10px 0px 30px 10px;
}

.radius2 {
  margin-top: -20px;
  overflow: hidden;
}


/* style of benefits component */

.item1{
  border-radius: 10px 30px 10px 30px;
  overflow: hidden;
}

.item2{
  border-radius: 30px 10px 30px 10px;
  overflow: hidden;
}